

.p{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
}
.p-heading{
   
        width: 65%;
        text-align: center;
        margin: 50px auto 30px auto;
        padding-bottom: 10px;
        font-size: 35px;
        font-weight: 600;
       border-bottom: 1px solid black;
}
.p-texts{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 65%;
    gap: 15px;
}
.p-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

@media all and (max-width: 768px) {
    .p{
        flex-direction: column;
        padding: 40px;
        width: 70%;
        margin: 0 auto;
    }
    .p-texts{
        width: 100%;  
        text-align: start;
    }
    .p-list{
        flex-direction: column;
    }
    .p-list>div{
        width: 100%;
    }
}
@media all and (max-width: 480px) {
    .p{
        width: 80%;
        padding: 30px;
    }
    
    .p-texts{
       text-align: start;
    }
}
@media all and (max-width: 320px) {
    .p{
        width: 100%;
        padding: 20px;
    }
    
    .p-texts{
       text-align: start;
    }
    .p-heading{
        width: 100%;
        text-align: start;
    }
}