
.n{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    background-color: rgb(243, 242, 242);
    align-items: center;
    height: 50px;
}
.n-logo{
  font-size: 20px;
}
.n-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.n-menu>li:last-child{
    border: 0;
    background-color: #0fb;
    padding: 2px 7px;
    border-radius: 15px;
    height: 25px;
    font-size: 18px;
    transition: .3s;
}
.n-menu>li:last-child:hover{
    box-shadow: 1px 1px 10px 1px #0fb;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
.n-menu-btn{
    top: 0px;
    right: 0px;
    display: none;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
}

@media all and (max-width: 768px) {
    .n-menu-btn{
display: block;
    }
.n-menu{
    display: none;
}
}