.switch{
    outline: none;
    padding: 3px 5px;
    border: 1px solid rgba(128, 128, 128,.4);
    border-radius: 50px;
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 5;
    background-color: none;
}